{namespace yag=DL\Yag\ViewHelpers}
{namespace extlist=PunktDe\PtExtlist\ViewHelpers}

<f:comment>
<!--  
Default Layout

Here is a list of objects / variables that can be accessed in this template:


@package YAG
@author Michael Knoll <mimi@kaktusteam.de>
@author Daniel Lienert <typo3@lienert.cc>
-->
</f:comment>

<div id="yag-error-messagecontainer">
    <f:flashMessages />
</div>

<div class="tx-yag-pi1 theme-{config.theme}">
	
	<f:if condition="{config.themeConfiguration.showBreadcrumbs}">
		<yag:breadcrumbs />
	</f:if>

    <f:render section="head" optional="1"/>
	<f:render section="main" />
	<f:render section="feEdit" optional="1"/>
</div>

<div style="clear:both;">&nbsp;</div>